// colors
$dark-grey: #838383;
$light-grey: #A9A9A9;
$white: #FFFFFF;
$black: #000000;

// colors functionality
$main: #010086;
$error: #C73E1D;
$background: #E2E4D7;

// sizes
$border-radius: 8px;

// z-index
$z-regular: 1;
$z-modal: 2;